.create-button-form {
    background-color: #F01B53 !important;
    border-color: #F01B53 !important;
}

.mt-5{
    height: 50vh;
}

.btnDeleteProduct{
    color: #F01B53;
}

.btnDeleteProduct:hover{
    color: #F01B53;
}

.btnModifyProduct:hover{
    color: #007bff;
}

.btnDecoratioStyleDel{
    color: #F01B53;
}

.btnDecoratioStyleDel:hover{
    color: #F01B53;
}

.btnDecoratioStyleMod:hover{
    color: #007bff;
}