.bg-darkblue{
  background-color: #56015E;
  padding-bottom: 25px;
  bottom: 0;
  width: 100%;
  height: auto;
}

.footer-container{
  margin: auto;
  padding-top: 2em;
}

.footer-left{
  max-width: 370px;
}

.footer-img{
  width: 125px;
  margin-bottom: 1em;
}

.footer-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.column-title{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

.column-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 35px;
}

.column-text i{
  margin-right: 1em;
}

.column-text a{
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #FFFFFF;
  text-decoration: none;
}

.column-text a:hover{
  color: #FF5F7B;
  transition: ease-in-out 0.5s;
}

.custom-md-6{
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  padding-bottom: 2em;
}

#footer .col-md-12{
  padding-top: 1em;
  border-top: solid 1px #FFFFFF;
}

#footer .col-md-12 .col-12{
  font-size: 12px;
}

@media (max-width: 991.9px) {
  .footer-left {
    max-width: unset;
  }
  #footer .col-md-6 {
    width: 100%;
    padding-top: 1.5em;
  }
  .footer-container{
    padding: 4% 4% 0% 4%;
  }
}